{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <!-- https://memegen.link/ -->
    <div container>
        <h3>Sell Stock</h3>
        <div>Choose the ticker for stock to sell in the form below</div>
    </div>
    <!-- Form starts here -->
    <div class="container">
        <form class="form-vertical" action="/sell" method="post">
            <div class="form-group col-2">
                <div class="form-floating top-margin-10">
                    <select class="form-select" name="symbol">
                        <!-- for loop here -->
                        {% for entry in stock_summary %}
                        <option value="{{ entry['stock'] }}">
                            {{ entry['stock'] }}
                        </option>
                        {% endfor %}
                        <!-- <option value="MCD">MCD</option>
                        <option value="TSLA">TSLA</option>
                        <option disabled="GOOGL">GOOGL</option> -->
                    </select>
                    <label for="symbol" class="form-label">Ticker</label>
                </div>

                <div class="form-floating top-margin-10">
                    <input type="text" name="shares" autocomplete="off"
                    class="form-control" placeholder="# of Shares" required
                    required style="text-transform: uppercase">
                    <label for="symbol" class="form-label"># of Shares</label>
                    <div class="extra-info">
                        *Shares are truncated to 2 decimals
                    </div>
                </div>
            </div>
            <button class="btn btn-primary top-margin-10" type="submit">
                Sell Stock
            </button>
        </form>
    </div>
{% endblock %}
