{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
<form method="POST" class="update-title-form">
    {% csrf_token %}

    <div class="title-update-box">
        <div><h4>Title Name</h4></div>
        <div class="form-disclaimer">Name of your title. 100 characters maximum.</div>
        <input type="text" name="title_name" id="title_name" placeholder="My Cool Title"
                class="title-update-form-text-input" maxlength="100" required autofocus>
    </div>
    
    <div class="title-update-box">
        <div><h4>Title Content</h4></div>
        <div class="form-disclaimer">
            Information on your title. Needs to be written in <a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">Markdown</a>. 
        </div>
        <textarea name="title_content" placeholder="My Cool Title Info" class="title-update-form-text-input"></textarea>
    </div>

    <center>
        <input type="submit" value="Add Title" class="title-update-form-submit">
    </center>
    
</form>
{% endblock %}