{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
<form method="POST">
    {% csrf_token %}
    <div>Title Name:</div>
    <input type="text" name="title_name" placeholder="My Cool Title">
    <div>Title Content:</div>
    
    <input type="text" name="title_content" placeholder="My Cool Title">
    <div>
        *small text*: information on your title. Needs to be written in Markdown. Syntax Help. 
    </div>
    <input type="submit" value="Add Title">
</form>
{% endblock %}